[submodule "src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/GIGA"]
	path = src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/GIGA
	url = https://github.com/pearl-robot-lab/GIGA
[submodule "src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/detectron2"]
	path = src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/detectron2
	url = https://github.com/facebookresearch/detectron2
[submodule "src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/big_vision"]
	path = src/grasp_publisher/grasp_publisher/src/grasp_publisher/grasp_publisher/big_vision
	url = https://github.com/google-research/big_vision
[submodule "big_vision"]
	path = big_vision
	url = https://github.com/google-research/big_vision
[submodule "src/grasp_publisher/grasp_publisher/big_vision"]
	path = src/grasp_publisher/grasp_publisher/big_vision
	url = https://github.com/google-research/big_vision
[submodule "src/grasp_publisher/grasp_publisher/detectron2"]
	path = src/grasp_publisher/grasp_publisher/detectron2
	url = https://github.com/facebookresearch/detectron2
[submodule "src/grasp_publisher/grasp_publisher/GIGA"]
	path = src/grasp_publisher/grasp_publisher/GIGA
	url = https://github.com/pearl-robot-lab/GIGA
